<div class="container" ng-controller="TodoCtrl">
    <div class="jumbotron">
        <h1 align="center">Todo Application</h1>
        <br>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Add Todo!" ng-model="formData.value">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="addTodo()">Add Todo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="todo in todos">
                <label>
                    <input type="checkbox" ng-click="removeTodo(todo)">
                    {{ todo.value }}
                </label>
            </div>
        </div>
    </div>
</div>